# Node modules
node_modules/

# Build / compiled output
dist/
build/

# Logs
*.log

# MacOS temp files
.DS_Store

# Environment variables
.env

# Misc
CHEATSHEET.md

# Generic temp / backup files
*.tmp
*.bak
